.row.row--primary.row--banner
  .split--left
    %a.media--lp-logo.logo--header.icon--lp-logo.icon--white{:href => "/"}
    %p.nav__item.nav__item--primary{:href => "/styleguide/design-elements/colours"}= I18n.t('org_name')

