.row.row--content{ id: 'js-row--content' }
  .row.row--secondary#js-secondary-nav
    .row__inner.row__inner--secondary
      = ui_component('place_title', properties: { title: I18n.t('app_name'), slug: root_path, icon: 'grid' })
